%h3 Create Account
%form{:action=>'/band_follow/create', :method=>'post'}
	%label{:for => "url"} url to venue page:
	%input{:id => 'url', :name => 'url',:type=>"text", :value=>""}
	%label{:for => "name"} name:
	%input{:id => 'name', :name => 'name', :type=>"name", :value=>""}
	%input{:type=>'submit', :value=>'submit'}