thinking about http://github.com/maxjustus/sinatra-authentication for auth
%h3 Create Account
%label{:for => "email"} email:
%input{:id => 'email', :name => 'email',:type=>"text", :value=>""}
%label{:for => "password"} password:
%input{:id => 'password', :name => 'password', :type=>"password", :value=>""}
